header
    nav.bg-gray-800
        .max-w-7xl.mx-auto.px-4(class="sm:px-6 lg:px-8")
            .flex.items-center.justify-between.h-16
                .flex.items-center.justify-between.w-full
                    .flex.items-center
                        a.flex-shrinl-0.flex.items-center(href="/")
                            img.h-8.w-8(src="/images/logo.png" alt="Logo")
                            span.text-white.font-bold.text-lg.tracking-wide.pl-2 Shops!

                        if user && (user.role === 'admin' || user.role === 'root' || user.role === 'supervisor')
                            a.font-bold.py-3.px-4.rounded.ml-4(
                                href="/admin/dashboard"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white"
                            )
                                | Dashboard

                    .flex.items-center
                        if user
                            form.flex.items-center.my-0.ml-4(action="/logout" method="post")
                                input.hidden(type="hidden" value=csrfToken name="_csrf")
                                button.font-bold.py-3.px-4.rounded(
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white"
                                )
                                    | Log Out

                            a.font-bold.py-3.px-4.rounded(
                                href="/orders"
                                class=(path === "shop-orders" ? "bg-gray-900 text-white" : "text-gray-300 hover:bg-gray-700 hover:text-white")
                            )
                                | Orders

                            a.ml-4(href="/cart/")
                                i.fas.fa-shopping-basket.text-2xl.text-white

                        else
                            a.font-bold.py-3.px-4.rounded(
                                href="/login"
                                class=(path === "login" ? "bg-gray-900 text-white" : "text-gray-300 hover:bg-gray-700 hover:text-white")
                            )
                                | Login

                            a.font-bold.py-3.px-4.rounded(
                                href="/signup"
                                class=(path === "signup" ? "bg-gray-900 text-white" : "text-gray-300 hover:bg-gray-700 hover:text-white")
                            )
                                | Signup



