extends ./partials/layout

block content
    .container.m-auto.max-w-7xl.px-8
        h2.py-8.text-gray-600.text-3xl.font-bold Our Product

        .grid.grid-cols-6.gap-1
            each product in products
                .col-span-2.shadow.p-8.bg-white.rounded.m-2
                    .product-image
                        img.m-auto.w-full(src=product.image_url)

                    h4.text-gray-700.text-center.text-xl.pt-4.font-semibold= product.title
                    p.text-red-800.text-center.font-semibold= product.price_fine
                    // div.text-gray-700.leading-tight.mt-4
                        pre.whitespace-pre-line= product.description

                    .add-cart.text-center.w-full.mt-6.flex.items-center.justify-center
                        a.bg-green-600.text-white.font-bold.uppercase.px-5.py-3.mr-2.tracking-wide.rounded(
                            href=`/shop/product/${product._id}`
                        ) details

                        if user
                            form.m-0(action="/cart" method="post")
                                input.hidden(type="hidden" value=csrfToken name="_csrf")
                                input.hidden(type="hidden" name="id" value=product._id)
                                button.bg-green-600.text-white.font-bold.uppercase.px-5.py-3.tracking-wide.rounded(type="submit")
                                    | add cart

        section.pagination.mt-3
            ul.pagination__body.flex.items-center.justify-center.mx-auto.w-full
                li.pagination__item.m-1
                    a.border.border-gray-500.text-gray-500.no-underline.py-2.px-3.rounded.bg-white(
                        href="/?page=1"
                        class="hover:bg-gray-700 hover:text-white hover:border-gray-900 transition duration-300"
                    ) 1
                li.pagination__item.m-1
                    a.border.border-gray-500.text-gray-500.no-underline.py-2.px-3.rounded.bg-white.pagination__link(
                        href="/?page=2"
                        class="hover:bg-gray-700 hover:text-white hover:border-gray-900 transition duration-300"
                    ) 2
                li.pagination__item.m-1
                    a.border.border-gray-500.text-gray-500.no-underline.py-2.px-3.rounded.bg-white.pagination__link(
                        href="/?page=3"
                        class="hover:bg-gray-700 hover:text-white hover:border-gray-900 transition duration-300"
                    ) 3
                li.pagination__item.m-1
                    a.border.border-gray-500.text-gray-500.no-underline.py-2.px-3.rounded.bg-white.pagination__link(
                        href="/?page=4"
                        class="hover:bg-gray-700 hover:text-white hover:border-gray-900 transition duration-300"
                    ) 4
