extends ../partials/layout

block content
    .container.m-auto.max-w-7xl.px-8.pt-10
        .grid.grid-cols-6.gap-6.bg-white.p-6.rounded
            .col-span-2.p-4
                img(src=product.image_url)

            .col-span-4
                h2.py-8.text-gray-600.text-3xl.font-bold= product.title
                p.text-gray-600.text-2xl.font-semibold= product.price_fine
                pre.text-gray-600.leading-tight.mt-4.whitespace-pre-wrap= product.description

                if user
                    form.w-full.mt-6(action="/cart" method="post")
                        input.hidden(type="hidden" value=csrfToken name="_csrf")
                        input(type="hidden" name="id" value=product._id)
                        button.bg-green-600.text-white.font-bold.uppercase.px-5.py-3.tracking-wide.rounded(type="submit")
                            | add cart

