extends ../partials/layout-admin

block content
    .container.mx-auto
        .flex.justify-end.mt-10
            a.px-4.py-3.bg-blue-800.text-white.font-bold.rounded(href="/admin/add-product")
                | Add Product

    .container.mx-auto.shadow.overflow-hidden.bg-white.rounded.mt-10.p-8
        table.w-full
            thead
                tr.border-b-2
                    td.text-center.py-4 Image
                    td.text-center.py-4 Product Name
                    td.text-center.py-4 Description
                    td.text-center.py-4 Price
                    td.text-center.py-4

            tbody
                each product in products
                    tr.border-b
                        td.text-center.min-w-100px.p-5
                            img.m-auto(
                                src=product.image_url
                                width="64"
                            )

                        td.text-center.p-3= product.title
                        td.text-center.p-3= product.description
                        td.text-center.p-3= product.price_fine
                        td.text-center.p-3
                            .flex.items-center.h-full
                                a.bg-blue-800.text-white.font-bold.tracking-wide.px-6.py-3.mr-2.rounded(
                                    href=`/admin/edit-product/${product._id}?edit=true`
                                )
                                    | Edit
                                // form.m-0(action="/admin/delete-product/" method="post")
                                input.hidden(type="hidden" value=csrfToken name="_csrf")
                                input.hiden(type="hidden" value=product._id name="id")
                                button.js-delete-product.bg-red-600.text-white.font-bold.tracking-wide.px-4.py-3.rounded.pointer-events-auto
                                    | Delete

        section.pagination.mt-3
            ul.pagination__body.flex.items-center.justify-center.mx-auto.w-full
                - let i = 1
                while i <= lastPage
                    li.pagination__item.m-1
                        a.pagination__link(href=`/admin/products?page=${ i }` class=`${ i === currentPage ? 'pagination__link--active' : '' }`)= i++
