extends ../partials/layout-admin

block content
    if user.role === 'supervisor' || user.role === 'root'
        .container.mx-auto.max-w-6xl
            .flex.justify-end.mt-10
                a.px-4.py-3.bg-blue-800.text-white.font-bold.rounded(href="/admin/add-new-user")
                    | Add User

    .container.mx-auto.shadow.overflow-hidden.bg-white.rounded.mt-10.max-w-6xl
        table.w-full
            thead
                tr.border-b-2.bg-gray-50
                    th.p-5.text-left User Name
                    th.p-5.text-left Role
                    th.p-5.text-left Last Logged In
                    th.text-center.p-5 Actions

            tbody
                each userData, index in users
                    if userData.role !== 'root'
                        tr.border-b
                            td.p-6(class="w-4/12") #{userData.first_name} #{userData.last_name}
                            td.p-6.capitalize(class="w-2/12")= userData.role
                            td.p-6.capitalize(class="w-3/12")= userData.lastLoggedIn

                            if user.role === 'supervisor' || user.role === 'root'
                                td.text-center.p-6(class="w-3/12")
                                    .flex.items-center.justify-center.h-full
                                        a.bg-blue-800.text-white.font-bold.tracking-wide.px-6.py-3.mr-2.rounded(
                                            href=`/admin/edit-user/${userData._id}?edit=true`
                                        )
                                            | Edit

                                        form.m-0.mr-2(action="/admin/suspend-user/" method="post")
                                            input.hidden(type="hidden" value=csrfToken name="_csrf")
                                            input.hiden(type="hidden" value=userData._id name="id")
                                            button.bg-gray-600.text-white.font-bold.tracking-wide.px-4.py-3.rounded(type="submit")
                                                | Suspend

                                        form.m-0.mr-2(action="/admin/delete-user/" method="post")
                                            input.hidden(type="hidden" value=csrfToken name="_csrf")
                                            input.hiden(type="hidden" value=userData._id name="id")
                                            button.bg-red-600.text-white.font-bold.tracking-wide.px-4.py-3.rounded(type="submit")
                                                | Delete

                            else
                                td.text-center.p-6(class="w-1/12")
                                    if user._id.toString() == userData._id.toString()
                                        a.bg-blue-800.text-white.font-bold.tracking-wide.px-6.py-3.mr-2.rounded(
                                            href=`/admin/edit-user/${ userData._id }?edit=true`
                                        )
                                            | Edit
